﻿@model MvcApplication2.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre_usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre_usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contraseña)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contraseña)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.persona.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.persona.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
